#header-nav {
  border-radius: 0;
  border: 0;
  border: 3px solid black;
  background-color:#A0A0A0;
} 
.navbar-default .navbar-brand{
  color: #000000;
  font-weight: bold;
}


 section{
  height: 1000px;
  font-weight: bold;
  background-color:#A0A0A0;
  margin-left: 100px;
  margin-right:100px;
  margin-top: 30px;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid #000000;
}
.navbar-header button.navbar-toggle{
  border: 3px solid black;
  color:  #000000;
}
#nav-list a {
  color: solid black;
  text-align: center;
   border: 3px solid black;
   margin: 0px;
   font-size: 1.3em;
}
#nav-list {
 
  background-color: white;

  
}
#nav-list a:hover {
  background: red;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-default .navbar-nav>.active>a {
  background-color: white;

}
.container-fluid>.navbar-collapse{
  margin-bottom: -10px;
}
.container{
  margin-left: 50px;
  margin-right: 50px;
}
h2{
  font-size: 1.9em;
  font-weight: bold;
}
h3{
  font-size: 1.9em;
  font-weight: bold;
}
